/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require 'font-awesome'
 */
@import "bootswatch/united/variables";
@import "twitter/bootstrap";
@import "twitter/bootstrap-no-sprites";
body {
  padding: 60px;
  min-height:100%;
  background-image: asset-url('creampaper.png', image)
}
@import "bootswatch/united/bootswatch";

.error {
  color:$red;
  display:inline;
  padding:20px;
}

input[type="submit"] {
  margin-left:-5px;
}

input {
	padding:20px;
}

.btn {
	margin-left:30px;
}

.tower {
  height:390px;
  width:390px;
  @include border-radius(390px);
}

.red {
  background:$red;
}

.white {
  background-color:$white;
}

.green {
  background:$green;
}

.flash {
  text-decoration:blink;
}

@-webkit-keyframes blink {
    0% { opacity: 0.0; }
    50% { opacity: 1.0; }
    100% { opacity: 0.0}

}
@-moz-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 1.0; }
  98% { opacity: 1.0; }
 100% { opacity: 0.0; }
}
.flash {
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
  -moz-animation-name: blink;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 4s;
  }

